<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleName</key>
<string>Get Off My Lawn</string>
<key>CFBundleDisplayName</key>
<string>Get Off My Lawn</string>
<key>CFBundleExecutable</key>
<string>GetOffMyLawn</string>
<key>CFBundleIdentifier</key>
<string>com.getoffmylawn.game</string>
<key>CFBundleIconFile</key>
<string>icon.icns</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleVersion</key>
<string>1.0</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
</dict>
</plist>
